body {
  background-color: #C7D3D4FF;
}

.title {
  font-size: 5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.title_subsection {
  font-size: 2rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.notes {
  text-align: center;
  /* display flex will allow div to be a parent and
all the element inside it be its childern and the childern will all fit in
a display: blick status that can be manipulated  to be spaced evenly  */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.notes_set {
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  border-radius: 20%;
  width: 15.625rem;
  height: 15rem;
  border: 0.375rem solid black;
  color: #C7D3D4FF;
  background-color: #00239CFF;
  transition-duration: 0.4s;
  cursor: pointer;
}

.notes_set:hover {
  color: #00239CFF;
  background-color: #C7D3D4FF;
}

.notes_set:active {
  color: #00239CFF;
  background-color: #C7D3D4FF;
  transform: translateY(0.375rem);
}

.Q {}

/* This class is for "butoon/image" method 1 */
.q_container {
  position: relative;
  text-align: center;
}
.q_img {
  width: 14rem;
  height: 14rem;
  border-radius: 30%;
}
.q_center {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
  margin-left: auto;
  margin-right: auto;
}


/* This class is for "butoon/image" method 2 */
/* The issue witht his method, we can not make the image has round corners
because it is added to the div from a css class not added to an image element  */
.W {
background-image: url('piano.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: 11rem;

}




.E {}

  /* This class is for "butoon/image" method 1 */
  .e_container {
    position: relative;
    text-align: center;
  }
  .e_img {
    width: 14rem;
    height: 14rem;
    border-radius: 30%;
  }
  .e_center {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }


.R {}
  /* This class is for "butoon/image" method 1 */
  .r_container {
    position: relative;
    text-align: center;
  }
  .r_img {
    width: 14rem;
    height: 14rem;
    border-radius: 15%;
  }
  .r_center {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

.T {}
  /* This class is for "butoon/image" method 1 */
  .t_container {
    position: relative;
    text-align: center;
  }
  .t_img {
    width: 14rem;
    height: 14rem;
    border-radius: 30%;
  }
  .t_center {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

.Y {}
  /* This class is for "butoon/image" method 1 */
  .y_container {
    position: relative;
    text-align: center;
  }
  .y_img {
    width: 14rem;
    height: 14rem;
    border-radius: 30%;
  }
  .y_center {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

.U {}
  /* This class is for "butoon/image" method 1 */
  .u_container {
    position: relative;
    text-align: center;
  }
  .u_img {
    width: 14rem;
    height: 14rem;
    border-radius: 30%;
  }
  .u_center {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    margin-left: auto;
    margin-right: auto;
  }





























.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  /* The postion of the footer has been modifed
  This is a pending change based on the final results and how
  will the page look  */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
